.login-Section {
  display: flex;
  justify-content: center;
}

.login-container {
  background: #060606ad;
  /* background: #2b2b3c; */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-right: 290px;
  margin-top: 100px;
}
.login-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}
.login-container input {
  /* width: 100%; */
  width: 240px;

  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  background-color: #3a3a4d;
  color: white;
  height: 35px;
  font-size: 16px;
}
.login-container button {
  /* width: 95%; */
  /* padding: 10px; */
  width: 240px;

  margin-top: 15px;
  border: none;
  border-radius: 8px;
  /* background-color: #ffcb3b; */
  color: #1e1e2f;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
}
.login-container button:hover {
  background-color: #f1c232;
}
.login-container .links {
  margin-top: 10px;
  font-size: 14px;
}
.login-container .links a {
  color: #ffff;
  text-decoration: none;
}

/* Soheb */

.css-honmcm-MuiGrid-root > .MuiGrid-item {
  /* margin-right: 220px; */
}
.school-logo-container {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.school-logo-container img {
  width: 100%;
}

.signin-bg {
  background-image: url("../../assets//images/books/pngtree-an-old-bookcase-in-a-library-picture-image_2760144.jpg");
  background-size: cover;
  background-position: center;
  height: 99vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-box {
  width: 420px;
  /* background: white; */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 552px;
}
